// =============================================
//              Mixins                          
// =============================================


// Images

@mixin blk-ctr($display:block, $margin-l:auto, $margin-r:auto, $margin-t: null, $max-w: null, $max-h: null) {
    display: $display;
    margin-left: $margin-l;
    margin-right: $margin-r;
    margin-top: $margin-t;
    max-width: $max-w;
    max-height: $max-h;
}

// Layout

@mixin flex-di {
    display: flex;
    flex-direction: column;
}