// ======================================
//  Variables
// ======================================

// Colors
$color-text: #777;
$color-primary: #58e1c1;
$color-link:#51ddfc;
$color-white: #fff;
$color-gray: #ccc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;
$color-tor: #7ee6fd;

// Fonts
$font-stack-primary: 'Lato', sans-serif;

// Border Radius
$br: 5px;

// Grid
$grid-cols: 12;

// Media Query Breakpoints
$break-m: '(min-width: 768px)';