// =============================================
//              Buttons                         
// =============================================

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-link;
  }
  
  .error {
    background-color: $color-error;
  }
  
  .info {
    background-color: $color-info;
  }
  
  .success {
    background-color: $color-success;
  }
  
  .warning {
    background-color: $color-warning;
  }
  