// =============================================
//              Buttons                         
// =============================================

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $br;
  }
  
  .default {
    background-color: $color-link;
    &:hover {
    background-color: lighten($color-link, 10%);
    }
  }
  
  .error {
    background-color: $color-error;
    &:hover {
      background-color: lighten($color-error, 10%);
      }  
  }
  
  .info {
    background-color: $color-info;
    &:hover {
      background-color: lighten($color-info, 10%);
      }  
  }
  
  .success {
    background-color: $color-success;
    &:hover {
      background-color: lighten($color-success, 10%);
      }  
  }
  
  .warning {
    background-color: $color-warning;
    &:hover {
      background-color: lighten($color-warning, 10%);
      }  
  }
  