// =============================================
//              Grid System                     
// =============================================

.container {
    padding: 0 10px;
  }
  
  .row {
    @include flex-di;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: $br;
  }
  
  //Generates Grid columns and respective colors  
  @each $col-num, $col-color in $grid-colors {
    .theme.col-#{$col-num} {
      background-color: #{$col-color};
    }
  }
  //end
  
  .card {
    flex-basis: 100%;
  }
  