// =============================================
//              Media Queries                   
// =============================================
@use "sass:math"; //To use math.div instead of "/"


@media #{$break-m} {

    .container {
      max-width: 1400px;
      @include blk-ctr($display: block, $margin-l: auto, $margin-r: auto);
    }
    
    .centered {
      @include blk-ctr($display: block, $margin-l: auto, $margin-r: auto);
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    
    [class^=col] + [class^=col] {
      margin-left: 10px;
    }

    //Generates columns 1-12
    @for $i from 1 through $grid-cols {
      .col-#{$i} {
        flex-basis: percentage(math.div($i, $grid-cols));
      }
    }
    //end  
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    
    .nav-link {
      flex-basis: 100px;
    }
    
    .btn {
      padding: 10px 30px;
    }
    
    .btn + .btn {
      margin-left: 10px;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }