// ======================================
//  Base Styles
// ======================================

* {
  font-family: $font-stack-primary;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


// =============================================
//              Typography                      
// =============================================

.headline-primary {
    color: $color-primary;
    margin-left: 10px;
  }
  
  .headline-secondary,
    .blockquote {
    font-weight: 300;
  }
  
  *,
  .headline-secondary {
    color: $color-text;
  }
  
  .link {
    color: $color-link;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-primary;
    border-radius: $br;
  }
  